<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="conatiner"
        style="display: flex; justify-content: center; align-items: center; width: 100%; height: 700px;">
        <div class="right" style="width:40%; height: 400px; background-color: aqua;">

            <div class="box1" style="justify-content: center; align-items: center; display: flex; width:100%; height: 50px;">
                <div class="name" style="width:100%; height:50px">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="class">
                    <label for="class">Class</label>
                    <input type="text" name="classes" id="classes">
                </div>
            </div>



        </div>
        <div class="left" style="width:50%; height: 400px; background-color: aqua; margin:10px;">
            <form action="">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">

            </form>
        </div>
    </div>


</body>

</html>